<!DOCTYPE html>
<html>

  <head>
    {% include 'partials/meta.html' %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    {% include 'partials/header.html' %}
		{% block content %}
			<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
			<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
		{% endblock %}
    {% include 'partials/footer.html' %}
    <script src="/js/scripts.js"></script>
  </body>

</html>
